In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('BankNote_Authentication.csv')

In [4]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:, -1]

In [6]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [7]:
y.head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: class, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [10]:
X_train

      variance   skewness  curtosis   entropy
122   -1.45720   9.121400  1.742500 -5.124100
1356  -4.07860   2.923900  0.870260 -0.653890
1015  -0.90784  -7.902600  6.780700  0.341790
1163   0.68180   4.850400 -5.213300 -6.104300
1034   0.67886   4.119900 -4.569000 -4.141400
...        ...        ...       ...       ...
763    0.39012  -0.142790 -0.031994  0.350840
835   -0.94255   0.039307 -0.241920  0.315930
1216   0.60050   0.999450 -2.212600  0.097399
559    2.01650  -0.252460  5.170700  1.076300
684   -2.07590  10.822300  2.643900 -4.837000

[960 rows x 4 columns]

In [11]:
X_test

      variance   skewness  curtosis  entropy
1023  -1.77130 -10.766500  10.21840 -1.00430
642    5.13210  -0.031048   0.32616  1.11510
1196  -2.01490   3.687400  -1.93850 -3.89180
31     1.48840   3.627400   3.30800  0.48921
253    5.28680   3.257000  -1.37210  1.16680
...        ...        ...       ...      ...
986    0.84546   3.482600  -3.63070 -1.39610
271    5.39150   9.994600  -3.80810 -3.36420
1266  -1.43770  -1.432000   2.11440  0.42067
769   -0.89409   3.199100  -1.82190 -2.94520
634    6.82480   5.218700  -2.54250  0.54610

[412 rows x 4 columns]

In [12]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [14]:
y_pred=classifier.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test, y_pred)

In [16]:
score

0.9878640776699029

In [17]:
import pickle
pickle_out = open('classifier.pkl','wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [18]:
classifier.predict([[2,3,4,1]])

C:\Users\rishi\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=int64)